<nz-layout>
  <nz-sider [nzWidth]="200" style="background:#fff">
    <ul nz-menu [nzMode]="'inline'" style="height:100%">
      <li nz-menu-item routerLink="">
        <span title><i class="anticon anticon-home"></i>Overview</span>
      </li>
      <li nz-submenu>
        <span title><i class="anticon anticon-laptop"></i>Components</span>
        <ul>
          <li nz-menu-item routerLink="map">amap-map</li>
          <li nz-menu-item routerLink="marker">amap-marker</li>
          <li nz-menu-item>amap-window</li>
          <li nz-menu-item>amap-address</li>
          <li nz-menu-item>amap-circle</li>
          <li nz-menu-item>amap-clusterer</li>
          <li nz-menu-item>amap-polyline</li>
          <li nz-menu-item>amap-text</li>
          <li nz-menu-item>amap-traffic</li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout style="padding:0 24px 24px">
    <nz-breadcrumb style="margin:16px 0;">
      <nz-breadcrumb-item *ngFor="let path of paths">{{path}}</nz-breadcrumb-item>
    </nz-breadcrumb>
    <nz-content class="content">
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>

</nz-layout>
